{% extends "layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Sign up
{% endblock %}

{% block appstatic %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/accounts.css' %}"/>
{% endblock %}

{% block body %}
<main class="text-center form-signup vertical-center d-flex justify-content-center needs-validation">
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <h1 class="mb-4">Please sign up</h1>

        {% if form.errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
        {% endif %}

        <div class="row g-3 mb-3 justify-content-center">
            <div class="col-sm-8">
                <div class="form-floating mb-2">
                    {% if form.username.errors %}
                        {% render_field form.username class+="form-control is-invalid" %}
                    {% else %}
                        {% render_field form.username class+="form-control" %}
                    {% endif %}
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {% for message in form.username.errors %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row g-3 mb-3">
            <div class="col-sm-6">
                <div class="form-floating mb-2">
                    {% if form.first_name.errors %}
                        {% render_field form.first_name class+="form-control is-invalid" %}
                    {% else %}
                        {% render_field form.first_name class+="form-control" %}
                    {% endif %}

                    <label for="{{ form.first_name.id_for_label }}">First name</label>
                    {% for message in form.first_name.errors %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-floating mb-2">
                    {% if form.last_name.errors %}
                        {% render_field form.last_name class+="form-control is-invalid" %}
                    {% else %}
                        {% render_field form.last_name class+="form-control" %}
                    {% endif %}

                    <label for="{{ form.last_name.id_for_label }}">Last name</label>
                    {% for message in form.last_name.errors %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row g-3 mb-3 justify-content-center">
            <div class="col-sm-8">
                <div class="form-floating mb-2">
                    {% if form.password1.errors %}
                        {% render_field form.password1 class+="form-control is-invalid" type="password" %}
                    {% else %}
                        {% render_field form.password1 class+="form-control" type="password" %}
                    {% endif %}

                    <label for="{{ form.password1.id_for_label }}">Password</label>
                    {% for message in form.password1.errors %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row g-3 mb-3 justify-content-center">
            <div class="col-sm-8">
                <div class="form-floating mb-2">
                    {% if form.password2.errors %}
                        {% render_field form.password2 class+="form-control is-invalid" type="password" %}
                    {% else %}
                        {% render_field form.password2 class+="form-control" type="password" %}
                    {% endif %}

                    <label for="{{ form.password2.id_for_label }}">Password confirmation</label>
                    {% for message in form.password2.errors %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <button class="w-50 btn btn-lg btn-primary mb-5" type="submit">Sign up</button>

        <div class="d-flex justify-content-between">
            <a class="w-40 btn" onClick="javascript:history.go(-1);">Back</a>
            <a class="w-40 btn" href="{% url 'login' %}">Login</a>
        </div>
    </form>
</main>
{% endblock %}