{% extends "layout.html" %}
{% load static %}

{% block header %}
<nav class="navbar navbar-expand-md">
    <div class="row container-fluid">
        <div class="col"></div>
        <div class="col-6">
            <div class="row">
                {% if user.is_authenticated and user.is_author %}
                    <div class="col nav-item align-self-center">
                        <a href="{% url 'home' %}" class="nav-link">Articles</a>
                    </div>
                    <div class="col nav-item middle-nav-item">
                        <a href="{% url 'publish_article' %}" class="nav-link">Post</a>
                    </div>
                    <div class="col nav-item"></div>
                {% else %}
                    <div class="col nav-item"></div>
                    <div class="col nav-item middle-nav-item">
                        <a href="{% url 'home' %}" class="nav-link">Articles</a>
                    </div>
                    <div class="col nav-item"></div>
                {% endif %}
            </div>
        </div>
        <div class="col">
            <ul class="navbar-nav d-flex justify-content-evenly">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link mr-5">Sign out</a></li>
                    <li class="nav-item"><a href="{% url 'manage' %}" class="nav-link mr-5">Manage</a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link mr-5">Sign in</a></li>
                    <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row pt-5">
        <div class="col"><!-- Left content --></div>
        <div class="col-8">

            {% if user.is_authenticated %}
            <div class="d-flex align-middle" style="font-size:x-large">
                <p>Welcome, {{ user.first_name }} {{ user.last_name }}!</p>
                <span>&#x1f44b</span>
            </div>
            {% endif %}

            <!-- Middle content -->

            {% block content %}
            {% endblock %}

            <hr/>
            <footer>
                <p>© 2022</p>
            </footer>
        </div>
        <div class="col"><!-- Right content --></div>
    </div>
</div>
{% endblock %}