.article-summary {
    width: 100%;
    max-width: 70%;
    border: 2px solid #9CAEEC;
    border-radius: 5px;
    background: #9CAEEC;
}

.btn.read-more {
    background: #898989;
}

.paginate-btn {
    color: chocolate !important;
}

.paginate-btn:hover {
    color: #0e5acd !important;
}

.author {
    color: #FFFFFF;
}