.article-summary {
    width: 100%;
    max-width: 70%;
    border: 2px solid #9CAEEC;
    border-radius: 5px;
    background: #9CAEEC;
}

.btn.read-more {
    background: #898989;
}

.paginate-btn {
    color: chocolate !important;
}

.paginate-btn:hover {
    color: #0e5acd !important;
}

.author {
    color: #FFFFFF;
}

.publish-form {
    width: 100%;
    max-width: 70%;
    background-color: #9CAEEC;
    border: 2px solid #9CAEEC;
    border-radius: 5px;
    background: #9CAEEC;
}

.edit-btn {
    background-color: #898989 !important;
}

.edit-btn:hover {
    color: #0e5acd !important;
}

.title {
    overflow-wrap: break-word;
}

.summary {
    overflow-wrap: break-word;
}

.updated-on {
    font-style:italic; 
    font-size: smaller;
}

.comments {
    width: 100%;
    max-width: 90%;
}

.comment {
    border: 2px solid #83ABD6;
    border-radius: 5px;
    background: #83ABD6;
}

.comment-created-on {
    font-style: italic;
    font-size: smaller;
}

.comment-author {
    font-style: italic;
    font-size: smaller;
}

.comment-divider {
    margin: 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #354557;
}

.comment-delete-btn {
    color: red !important;
    text-decoration: none;
}

.publish-comment-form {
    width: 100%;
    max-width: 70%;
    background-color: #9CAEEC;
    border: 2px solid #9CAEEC;
    border-radius: 5px;
    background: #9CAEEC;
}