{% extends "content.html" %}
{% load static %}
{% load markdown_extras %}

{% block title %}
    Article
{% endblock %}

{% block appstatic %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles/articles.css' %}"/>
{% endblock %}

{% block content %}
    {% if user == article.author %}
        <div class="d-flex justify-content-end">
            <div class="row">
                <div class="col">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <button class="btn edit-btn" disabled>Edit</button>
                    </form>
                </div>
                <div class="col">
                    <form action="{% url 'article' article.id %}" method="POST">
                        {% csrf_token %}
                        <input class="btn btn-danger" onclick="confirmAction(event, 'Are you sure you want to delete this article?')" type="submit" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="d-flex justify-content-center">
        <div class="article-summary mt-3" id="article1">
            <div class="row m-2">
                <div class="col-8">
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.created_on }}</p>
                    <p class="author">{{ article.author.first_name }} {{ article.author.last_name }}</p>
                </div>
            </div>
            <div class="row m-2">
                <div class="col">
                    <p>{{ article.content | markdown | safe }}</p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function confirmAction(e, msg)
        {
            if(!confirm(msg)) {
                e.preventDefault();
            }
        }
    </script>
{% endblock %}