{% extends "content.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block appstatic %}
    <link rel="stylesheet" type="text/css" href="{% static 'articles/articles.css' %}"/>
{% endblock %}

{% block content %}
    {% if articles %}
        <div class="container text-center">
            <div class="row">
                <div class="col align-self-center">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="paginate-btn btn">previous</a>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="paginate-btn btn">next</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="fs-5">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
                </div>
            </div>
        </div>

        {% for article in articles %}
            <div class="d-flex justify-content-center">
                <div class="article-summary flex-fill mt-3" id="article1">
                    <div class="row m-2">
                        <div class="col-10">
                            <h2 class="title">{{ article.title }}</h2>
                            <p>{{ article.created_on }}</p>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col">
                            <p class="summary">{{ article.summary }} ...</p>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-8">
                            <p class="author">{{ article.author.first_name }} {{ article.author.last_name }}</p>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <a class="btn read-more" href="{% url 'article' article_id=article.id %}">Read more!</a>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col d-flex justify-content-end">
                            {% if article.created_on != article.updated_on %}
                                <p class="updated-on">Updated at {{ article.updated_on }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No articles have been written!</p>
    {% endif %}
{% endblock %}